<h1>Greetings Card Generator</h1>

<form action="/create" method="post">
  <label>Select Occasion:</label>
  <input type="radio" name="occasion" value="birthday" checked> Birthday
  <input type="radio" name="occasion" value="anniversary"> Anniversary
  <input type="radio" name="occasion" value="thank_you"> Thank You

  <!-- Add more form fields for customization -->

  <input type="submit" value="Generate Card">
</form>
