/* public/styles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}


.card {
  border: 2px solid #ccc;
  padding: 10px;
  text-align: center;
  max-width: 400px; /* Set a max-width for the card */
  margin: 0 auto; /* Center the card on the page */
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-image {
  max-width: 100%; /* Make sure the image doesn't exceed the width of its container */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px;
}
/* public/styles.css */


h1 {
  text-align: center;
  color: #333;
}

form {
  text-align: center;
  margin-top: 20px;
}

label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
